body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.top-section {
    height: 420px;
    background: #1f2937;
    padding-top: 16px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-section, .footer {
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 520px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.right {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: larger;
}

.media {
    display: flex;
    gap: 80px;
}

.top-section-content {
    width: 460px;
}

.image {
    width: 560px;
    color: #f9faf8;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}

.main-title-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.buttons {
    margin-top: 12px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    background: #3882f6;
    font-size: large;
    padding: 10px 36px;
}

.info-section {
    height: 400px;
    margin: 50px 150px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 60px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    border: 4px solid #3882f6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.subtext {
    text-align: center;
    color: #797d84;
}

.quote-section {
    height: 480px;
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 735px;
    margin-top: 160px;
}

.author {
    margin-left: 390px;
    font-size: x-large;
    font-weight: bold;
    color: #1f2937;    
}

.action-section {
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-content {
    background-color: #3882f6;
    height: 150px;
    width: 1020px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    border-radius: 10px;
}

.plea-top {
    color: #f9faf8;
    font-size: x-large;
    font-weight: bold;
}

.plea-bottom {
    color: #e5e7eb;
    font-size: large;
}

.action-content button {
    border: solid 3px #f9faf8;
    padding: 8px 40px;
}

.footer {
    height: 110px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}